::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 1200px) {
    nav {
        flex-direction: column;
        width: 90%;
    }
    .hero {
        padding: 4rem;
    }
    .hero-buttons {
        transform: scale(1.1);
        flex-direction: column;
        gap: 1rem;
    }
    .container {
        transform: scale(0.8);
    }
    .hero h1 {
        display: none;
    }
}

/* Styl dla ekranów o szerokości do 768px */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    .buttons {
        margin-top: 1rem;
    }
    .first-page-content {
        padding: 2rem;
        align-items: center;
        text-align: center;
    }
    .btn-hero{
        white-space: nowrap;
    }
}
@media  (max-width: 675px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .first-page-content {
        display: flex;
        flex-direction: column;
        transform: scale(0.8);
        margin-top: -23vh;
    }
}

/* Styl dla ekranów o szerokości do 480px */
@media (max-width: 480px) {
    .logo {
        font-size: 1rem;
    }

    nav ul li {
        margin: 0 10px;
    }
    ul {
        gap: 2vh;

    }
    .ul-buttons{
        margin-top: 1vh;
    }
    .buttons .btn {
        padding: 0;
    }
    .hero{
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-right: 4vh;
    }
    .hero-buttons {
        transform: scale(1);
        flex-direction: column;
        gap: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .btn-hero {
        padding: 0;
    }
    .container{
        padding: -10vh;
    }
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    overflow-x: hidden;

}
.first-page {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
header {
    padding: 20px 0;

}
.first-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #10182b;
    color: white;
    border-radius: 40px;
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.buttons .btn {
    padding: 0.7rem 1.2rem;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.btn:hover {
    background: #10182b;
    color: #F0F0F0;
}
.btn-hero {
    border: none;
    padding: 0.8rem 1.4rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    justify-content: left;
    border-radius: 50px;

}
.btn-hero:hover {
    background: #10182b;
    color: #F0F0F0;
}

.hero {
    color: white;
    text-align: center;

}
.h1-firstpage {
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.hero h1 {
    margin-top: 5rem;
    margin-bottom: 10vh;
}
.title {
    margin-left: 2rem;
    margin-top: 2rem;
}
.container {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.square {
    width: 25rem;
    height: 28rem;
    background-color: rgba(255, 255, 255, 0.38);
    border-radius: 25px;
    transition: 0.35s ease-in-out;
}
.square:hover{
    background: rgba(255, 255, 255, 0.79);
    cursor: pointer;
}
.download-icon {
    width: 70%;
}
.a {
    text-decoration: none;
    color: black;
}

/* courses.css */
/* Styl przełącznika */
.dark-mode-switch {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode nav,
.dark-mode .buttons .btn,
.dark-mode .btn-hero,
.dark-mode footer {
    background-color: #333;
    color: white;
}
.dark-mode .square {
    background-color: rgba(218, 207, 207, 0.63);
}
.dark-mode .first-page {
    background: rgb(19, 37, 115);
    background: radial-gradient(circle, rgb(18, 33, 105) 0%, rgb(105, 14, 33) 100%);
}
.dark-mode .btn:hover,
.dark-mode .btn-hero:hover {
    background-color: #555;
    color: #f0f0f0;
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: #582ecb;
    color: white;
}