body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: rgb(102,59,229);
    background: linear-gradient(161deg, rgba(102,59,229,1) 33%, rgba(242,177,22,1) 100%);
}

header {
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #10182b;
    color: white;
    border-radius: 40px;
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.buttons .btn {
    padding: 0.7rem 1.2rem;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn-hero {
    border: none;
    padding: 0.8rem 1.4rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    justify-content: left;
}
.btn-hero:hover {
    background: yellow;
}
.hero-buttons {
    justify-content: left;
}
.highlight {
    background-color: #ffffff;
}

.hero {
    padding: 2rem;
    color: white;

}
h1 {
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
}
.hero h1 {
    margin-top: 0;
}
.title {
    margin-left: 2rem;
    margin-top: 2rem;
}
.dashboard {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.card {
    background: #F0F0F0;
    border-radius: 10px;
    padding: 1rem;
    width: 200px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #582ecb;
    color: white;
    margin-top: 20px;
}
